html{
    scroll-behavior: smooth;
}
body{
    font-family:Lexend;
    background-color: #272757;
    color:#8686AC;
}
h1,h2, h4{
    text-align:center
}
a:link, a:visited{
    text-decoration: none;
    color:black;
}
button.begin{
    height:75px;
    width:225px;
}
button{
    height:50px;
    display:block;
    margin:15px;
    background-color:#505081;
    border-color:#272757;
}
button:hover{
    background-color: #8686AC;
}
.active{
    background-color: #0F0E47;
}
.active:hover{
    background-color: #0F0E47;
}
.false{
    display:none;
}
p{
    width:75%;
}
.javascript-c, .python-c, .java-c, .cpp-c, .binary-c{
    text-align:center;
    margin:auto;
    display:none;
}
image{
    max-height:30%;
    width:auto;
}
div.button{
    width:300px;
    margin:auto;
}
div.container{
    margin:10px;
}
label{
    padding:0px 0px 0px 15px;
}