html{
    scroll-behavior: smooth;
}
h1,h2, h4{
    text-align:center
}
a:link, a:visited{
    text-decoration: none;
    color:black;
}
button.begin{
    height:75px;
    width:225px;
}
button{
    height:50px;
    display:block;
    margin:15px;
    background-color:#CCC;
}
button:hover{
    background-color: #AAA;
}
.active{
    background-color: #888;
}
.active:hover{
    background-color: #888;
}
.false{
    display:none;
}
.javascript-c, .python-c, .java-c, .cpp-c, .binary-c{
    width:75%;
    text-align:center;
    margin:auto;
    display:none;
}
div.button{
    width:300px;
    margin:auto;
}
div.container{
    margin:10px;
}
label{
    padding:0px 0px 0px 15px;
}